@using Bulky.Models.Models;
@model IEnumerable<Product>

<div class="container py-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-primary fw-bold">Product List</h1>
        <a asp-area="Admin" asp-controller="Product" asp-action="Create" class="btn btn-success shadow-sm">
            <i class="bi bi-bag-plus-fill me-2"></i> Create New Product
        </a>
    </div>

    <div class="table-responsive shadow rounded">
        <table id="tblData" class="table table-striped table-hover align-middle mb-0 bg-white">
            <thead class="table-primary text-uppercase">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Author</th>
                    <th scope="col">List Price</th>
                    <th scope="col">Price</th>
                    <th scope="col">Price 50+</th>
                    <th scope="col">Price 100+</th>
                    <th scope="col">Category Name</th>
                    <th scope="col" style="width: 180px;">Actions</th>
                </tr>
            </thead>
           
        </table>
    </div>
</div>
@section Scripts{

    <script src="~/js/product.js"></script>

}